<!DOCTYPE html>
<html>
<head>
  <title>Citi-zens</title>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="/assets/custom.css" rel="stylesheet">
  <link href="/assets/application.css" rel="stylesheet">
</head>
<body>

<%= yield %>

</body>
</html>
